#div_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
}

/*for course name*/
.testName{
    color:black;
    font-size: 18pt;
    /*color: #002AFF;*/
    font-weight: bold;
}

#link_not_done{
    background: #FF6B6B;
    box-shadow: 0px 4px 4px rgba(255, 107, 107, 0.2);
    border-radius: 8px;
    color: white;
    font-size: 15pt;
    padding: 0px 10px;
    font-weight: bold;
}

#link_done{
    background: #37DCFF;
    box-shadow: 0px 4px 4px rgba(255, 107, 107, 0.2);
    border-radius: 8px;
    color: white;
    font-size: 15pt;
    padding: 0px 10px;
    font-weight: bold;
}



#formSubmit{
    margin-top: 10px;
    background-color: #F6F7FC;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.div_test{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 117, 141, 0.2);
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
    width: 45%;
}

#pagination{
    margin-top: 10px;
}

.div_status{
    display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
}


.label_close{
    background: #FC8F8F;
    box-shadow: 0px 2px 2px rgba(147, 255, 0, 0.2);
    border-radius: 20px;padding: 1px 5px 1px 1px
}

.fa-lock{
    background: #F41515;
    border-radius: 16px;
    padding: 5px;
    color: black;
}

.label_open{
    background: #DCF0C0;
    box-shadow: 0px 2px 2px rgba(147, 255, 0, 0.2);
    border-radius: 20px;padding: 1px 5px 1px 1px
}

.fa-unlock-alt{
    background: #93FF00;
    border-radius: 16px;
    padding: 5px;
}
