#formSubmit{
    font-size: 15pt;
}

#description{
    text-align: center;
    color: #009900;
    /*font-weight: bold;*/
}

#testName{
    color:black;
    font-size: 30pt;
    color: #5531FB;
    font-weight: bold;
    text-align: center;
}

#div_info{
    margin-left: 20%;
}

.div_result{
    border: 5px inset #5531FB;
    border-radius: 9px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 30px;
}

.label_end_time{
    margin-left: 50px;
}







