#formSubmit{
    /*text-align: center;*/
    margin-top: 10px;
    font-size: 15pt;
}

#description{
    text-align: center;
    color: #009900;
    /*font-weight: bold;*/
}

#testName{
    color:black;
    font-size: 30pt;
    color: #FF4019;
    font-weight: bold;
    text-align: center;
}

#div_info{
    margin-left: 30%;
}

#formSubmit label{
    font-size: 15pt;
    color: #009900;
    font-weight: bold;
}

#btn_result{
    border: 2px inset #009900;
    border-radius: 5px;
    color: #009900;
    font-weight: bold;
}

#submit{
    background-color: #FF4019;
    color: white;
    font-weight: bold;
    font-size: 25pt;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
}
#label_continue{
    background-color: #1FD818;
    border: 5px groove #1FD818;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25pt;
    border-radius: 10px;
    margin: 0px auto;
    display: block;
    color: white;
    cursor: pointer;
}
