

#link_create_course{
    float: right;
    font-size: 15pt;
}

/*search*/
#search_button{
    /*border-radius: 5px;*/
    /*color: #0000FF;*/
    border: 5px inset #1C6EA4;
    border-radius: 5px 5px 5px 5px;
}


.table_name_header{
    width: 600px;
}

.table thead{
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}

table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}
table thead th:first-child {
    border-left: none;
}

.table tr{
    height: 50px;
}

/*for course name*/
.course-name{
    color:black;
}

#formSubmit{
    /*text-align: center;*/
    margin-top: 30px;
    background-color: #F6F7FC;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#icon_public{
    border-radius: 50%;
    padding: 4px;
    background-color: #37DCFF;
}

/**/
.label_course_name{
    color: black;
    font-weight: bold;
    font-size: 16pt;
}

.div_course{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 117, 141, 0.2);
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 45%;
    margin-right: 30px;
}

.div_update{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.label_update{
    background: #F8E651;
    box-shadow: 0px 4px 4px rgba(248, 230, 81, 0.2);
    border-radius: 20px;
    padding: 3px 10px;
    color: white;
    cursor: pointer;
}

#pagination{
    margin-top: 20px;
    padding:2px;

}

#pagination{
    margin-top: 10px;
}
