.content_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.div_participants{
    margin-bottom: 20px;
    border: 5px outset #25A412;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
    width: 30%;
    min-width: 400px;
    max-width: 500px;
}

#link_show_participants{
    font-size: 16pt;
}

#btn_participants{
    background-color: transparent;
    border:none;
}

.div_tests{
    border: 5px inset #C81942;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 10px;
    width: 30%;
    min-width: 400px;
    max-width: 500px;
}

.fa-users{
    color: #25A412;
}

#btn_tests{
    background-color: transparent;
    border: none;
}

#btn_test {
    /*font-size: 16pt;*/
}

.fa-tasks{
    color:#C81942;
}


#link_show_tests{
    color: black;
    font-size: 16pt;
}
#link_show_tests :hover{
    color: blue;
}

.button{
    background-color: #819FF7;
}

/*search*/
#search_button{
    border-radius: 5px;
    color: #0000FF;
}


.table_name_header{
    width: 600px;
}


.table tr{
    height: 50px;
}

/*for course name*/
.course-name{
    color:black;
}

/*for column public*/
.table_public_header{
    text-align: center;

}

.fa-check-circle{
    color: #01DF01;

}

.table_check_icon{
    text-align: center;
}


/*for edit column*/
.table_edit_header{
    width: 100px;
}

.table_edit{
    text-align: center;
}

.fa-edit{
    color: #FF0000;
}


#formSubmit{
    /*text-align: center;*/
    margin-top: 50px;
}
