/*.content{
    position: relative;
}*/

#formSubmit{
    /*text-align: center;*/
    margin-top: 30px;
    background-color: #F6F7FC;
    padding: 10px 200px;
}

#formSubmit h1{
    text-align: center;
    font-weight: bold;
}

.label_title{
    margin-top:20px;
    display: inline-block;
    width: 150px;
    float: top;
    font-weight: bold;
    font-size: 14pt;
}

.text_input{
    width: 600px;
    font-size: 15pt;
    vertical-align: top;
    width: 100%;
}

.content_wrap textarea{
    height: 100px;
}

.label_for_status{
    font-size: 14pt;
}

.div_btn{
    display: flex;
    flex-direction: row-reverse; 
}

#btn_delete{
    background: #F41515;
    box-shadow: 0px 4px 4px rgba(255, 107, 107, 0.2);
    border-radius: 20px;
    color: white;
    font-size: 16pt;
    padding: 2px 15px;
    font-weight: bold;
    cursor: pointer;
}

#create_button{
    background: #2617D3;
    box-shadow: 0px 4px 4px rgba(255, 107, 107, 0.2);
    border-radius: 20px;
    color: white;
    font-size: 16pt;
    padding: 2px 15px;
    font-weight: bold;
    cursor: pointer;
}

#infoMessage{
    color: #3ADF00;
}